<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.chardonlabs.2.8.17.1"
version = "2.0">

<name>iReport 5-7-17</name>

<description>
iReport for iPhone iOs 10 
</description>

<author href="http://www.nitobi.com" email="mbutche1@gmail.com">
Mike Butcher
</author>
<icon src="img/icon.png" default="false" />
<gap:splash src="splash.png" width="640" height="1136"/>
<gap:splash src="splash.png" gap:platform="ios" width="640" height="1136" />


<preference name="phonegap-version" value="3.6.3" />
<!-- core plugins -->
    <gap:plugin name="cordova-plugin-battery-status" source="npm" />
    <gap:plugin name="cordova-plugin-camera" source="npm"/>
    <gap:plugin name="cordova-plugin-media-capture" source="npm"/>
    <gap:plugin name="cordova-plugin-console" source="npm"/>
    <gap:plugin name="cordova-plugin-contacts" source="npm"/>
    <gap:plugin name="cordova-plugin-device" source="npm"/>
    <gap:plugin name="cordova-plugin-device-motion" source="npm"/>
    <gap:plugin name="cordova-plugin-device-orientation" source="npm"/>
    <gap:plugin name="cordova-plugin-file" source="npm"/>
    <gap:plugin name="cordova-plugin-file-transfer" source="npm"/>
    <gap:plugin name="cordova-plugin-geolocation" source="npm"/>
    <gap:plugin name="cordova-plugin-globalization" source="npm"/>
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>
    <gap:plugin name="cordova-plugin-media" source="npm"/>
    <gap:plugin name="cordova-plugin-dialogs" source="npm"/>
    <gap:plugin name="cordova-plugin-vibration" source="npm"/>

<access origin="*" />

</widget>
