<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.chardonlabs.2.8.17.1"
version = "2.0">

<name>iReport 2-25-17</name>

<description>
iReport for iPhone iOs 10 
</description>

<author href="http://www.nitobi.com" email="mbutche1@gmail.com">
Mike Butcher
</author>
<icon src="img/icon.png" default="false" />
<gap:splash src="splash.png" width="640" height="1136"/>
<gap:splash src="splash.png" gap:platform="ios" width="640" height="1136" />


<preference name="phonegap-version" value="3.6.3" />


<gap:plugin name="org.apache.cordova.core.camera" />
<gap:plugin name="org.apache.cordova.dialogs"  />
<access origin="*" />

</widget>
